html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}


body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3344ff 0%, #2989d8 50%, #000105 100%);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 100;
}

#statsOutput {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #666;
    font-size: 20px;
    font-weight: bold;
}

#loginBox {
    position: relative;
    float: right;
    margin: 10px;
}

#loginBox input[type=button] {
    color: #000;
    margin: 0 0 0 5px;
    padding: 0 5px;
    font-size: 16px;
    height: 26px;
    border: 1px solid #a40;
    border-radius: 5px;
    background: linear-gradient(to bottom, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
}

#loginBox input:not([type=button]) {
    padding-left: 5px;
    margin: 0;
    width: 100px;
    height: 22px;
    border: 1px solid #888;
    border-radius: 4px;
    vertical-align: top;
}


#loginBox label {
    font-weight: bold;
    color: #cccccc;
}

#loginInfoOutput {
    position: absolute;
    margin-right: 5px;
    padding: 5px;
    top: 0px;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #666;
    border-top: none;
    border-radius: 0 0 4px 4px;
    transition: top 0.6s ease-in-out 0s;
}

#loginGreeting {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}


#chatBox {
    position: relative;
    top: 12%;
    width: 50%;
    height: 60%;
    min-width: 400px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 1px outset #f33;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.6);
}



#infoOutput {
    position: absolute;
    display: inline-block;
    padding: 4px 8px;
    top: 40px;
    right: 8px;
    color: #ff0;
    border: 1px solid #666;
    height: 28px;
    font-size: 20px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: top 0.6s ease-in-out 0s;
}

#chatOutput {
    position: absolute;
    top: 40px;
    left: 8px;
    bottom: 46px;
    right: 8px;
}

#userListBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 76%;
    border: 2px inset #ccc;
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 3px 0 3px;
}

#userListBox > div {
    margin-bottom: 2px;
    padding-left: 5px;
    background: linear-gradient(to bottom, rgb(60, 60, 60) 0%, rgb(30, 30, 30) 4%, rgb(40, 40, 40) 96%, rgb(0, 0, 0) 100%);
}

#chatMsgBox {
    position: absolute;
    top: 0px;
    left: 25%;
    bottom: 0;
    right: 0;
    border: 2px inset #ccc;
    font-size: 1.5em;
    background-color: #444;
    overflow-y: auto;
    overflow-x: hidden;
}

#doLoginStranger {
    position: relative;
    top: 46%;
    color: #ffff00;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#chatInput {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 80%;
    border-radius: 4px;
    border: 2px solid #888;
    height: 26px;
    font-size: 20px;
}

#sendBtn {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 15%;
    height: 32px
}

.ChatMsg {
    position: relative;
    overflow: hidden;
    padding: 0px 0 0px 0;
    margin: 0 2px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    /*opacity: 1.0;
    transition: opacity 0.6s ease-in 0s;*/
    left: -100%;
    transition: left 0.6s ease-in-out 0s;
    background: linear-gradient(to bottom, rgb(40, 40, 40) 0%, rgb(50, 50, 50) 4%, rgb(40, 40, 40) 96%, rgb(0, 0, 0) 100%);
}


.ChatMsg > div:first-child {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    width: 16%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 5px 0 3px;

}

.ChatMsg > div:first-child + div {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    width: 80%;
    vertical-align: top;
    padding: 4px 4px;
    background: linear-gradient(to bottom, rgb(60, 60, 60) 0%, rgb(30, 30, 30) 4%, rgb(40, 40, 40) 96%, rgb(0, 0, 0) 100%);
}


